<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
</head>
<body>
    <h1>Student Data</h1>
    <ul>
        <% datalist.forEach(function(student) { %>
            <li>
                Name: <%= student.monument %><br>
                Course: <%= student.how_many %><br>
                Marks: <%= student.arrivals %><br>
                
            </li>
        <% }); %>
    </ul>

    <button><a href="C:\Users\DELL\angulars\app1\mongodb\mongodb.html">from here</a></button>
</body>
</html>
